@import "shared/fonts.css";
@import "shared/buttons.css";

.navbar-light {
  background-color: #faf3d8 !important;
}
nav h4 {
  color: #7f4b23 !important;
}
nav {
  display: block;
  position: fixed;
  font-family: 'Kreon', sans-serif;
}

#landingPart {
  height: 95vh;
  width: 100%;
  background-color: #faf3d8;
}

.grid-container {
  display: grid;
  padding-top: 4rem;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  height: 100;
}

.dog-img {
    width:70% ;
    height:100%;
    justify-content: end;
}
.whiteblank{
    background-color: white;
    height: 5vh;
}

.dog-img > img {
  width: 80%;
  margin-top: 20px;
}
#community-ad{
    background-color: #D7DACA;
    height: 86vh;
}

.hero-com{
    text-align: center;
}
.hero-com h1{
    padding: 4%;
}
#adopt-ad{
    height: 86vh;
}
.adopt-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;
}
.dog-run{
    background-color: #A0AEAA;
    height: 100%;
    text-align: center;
    display: flex;
}
.dog-run > img{
    width:110%;
    margin-bottom: 2rem;
    align-self: flex-end;
    margin-left: 2rem;
}
.process{
    background-color: #EFF0F0;
    height: 100%;
    text-align: center;
}
.process >h1{
    padding: 4%;
}

footer{
    height: 30vh;
    background-color: #232B40;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    margin-top: 4rem;
  }
  .dog-img{
    text-align: center;
  }
  .dog-img > img{
    width: 70%;
    margin-top: 20px;
  }
  .hero-and-btn{
    text-align: center;
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .adopt-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
  }
  .dog-run{
    text-align: end;
  }
  .dog-run > img{
    width:90%;
    justify-self: flex-center;
    margin-left: 4rem;
    }
}